$primary-color: #392c4e;
$secondary-color: #89cff0;
$third-color: #00a27a;
$fourth-color: #f0595b;
// importing core styling file
// importing core styling file
// @import "../scss/fontawesome.scss";

// our project needs Classic Solid, Brands, and Sharp Solid
// @import "../scss/solid.scss";
// @import "../scss/brands.scss";
// @import "../scss/sharp-solid.scss";

$fa-font-path: "../dist/webfonts";




*,*::after,*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: $primary-color;
	background-color:#2b6d8b;
}
h2 {
	font-size: 2rem;
	margin: 0;
}
button {
	font-size: 1.1rem;
	padding: 4px 6px;
	border-radius: 4px;
	border: 1px solid #96494b;
	background-color: #c95759;
	color: #89cff0;
}
// h1 {
// 	font-size: 54px;
	
// }

.main {
	padding: 80px 100px;
	animation: 1s fadeIn ease-in;
	.nav {
		background-color: #c95759;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		h1 {
			font-size: 4rem;
			// margin-trim: none;
		}
		a {
			color: $primary-color;
			font-size: 2rem;
			text-decoration: none;
			background-color: #3fa6d6;
			padding: 8px 16px;
			border-radius: 4px;
		}
		a:hover {
			background-color: #6bb8db;
			color: #f2f1f0;
		}
	}
	
	.body {
		display: flex;
		align-items: flex-start;
		background-color: rgb(99, 149, 192);
		color: $primary-color;
		position: relative;
		.sidebar {
			padding: 20px;
			width: 15vw;
			border-right: 2px solid rgb(40, 117, 184);
			ul {
				list-style: none;
				margin: 0;
				padding: 0px 20px;
				color: #082921;

				span {
					font-size: 2rem;
				}

				li {
					padding: 0px;
				}

				a {
					text-decoration: none;
					font-size: 1.6rem;
				}
				a:visited {
					color: #1c5243;
				}
				a:hover {
					color: $primary-color;
					text-decoration: underline;
				}
				i {
					font-size: 3rem;
					position: absolute;
					bottom: 20px;
					left: 50px;
				}
			}
		}

		.content {
			padding: 20px 40px;
			display: flex;
			flex-direction: column;
			width: 100%;
			font-size: 1.2rem;
			color: #89cff0;
			// border-left: 1px solid rgb(40, 117, 184);
			.row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: rgb(60, 110, 153);
				padding: 10px;
				margin: 10px 0;
				.left {
					display: flex;
					align-items: baseline;
					justify-content: start;
					gap: 20px;
					input[type=checkbox] {
						transform: scale(1.5);
					}
				}
				.right {
					display: flex;
					align-items: baseline;
					justify-content: start;
					gap: 20px;
				}
				button:hover,
				i:hover {
					background-color: transparent;
					color: #f2f1f0;
				}

				.modal {
					display: none; /* Hidden by default */
					position: fixed; /* Stay in place */
					z-index: 1; /* Sit on top */
					left: 0;
					top: 0;
					width: 100%; /* Full width */
					height: 100%; /* Full height */
					overflow: auto; /* Enable scroll if needed */
					background-color: rgb(0,0,0); /* Fallback color */
					background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
					backdrop-filter: blur(3px);
				}
				.modal-content {
					position: relative;
					color: #b1d5e6;;
					background-color: #3fa6d6;
					margin: 20% auto; /* 15% from the top and centered */
					padding: 20px;
					border: 1px solid #888;
					width: 500px; /* Could be more or less, depending on screen size */
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: baseline;
					border-radius: 10px;
					animation: 0.5s fadeIn ease-in;
					
					i {
						position: absolute;
						top: 10px;
						right: 10px;
						font-size: 1.5rem;
					}
				}
			}
		}
	}

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}




